一.Git学习
   git常用命令
1.mkdir  git（创建一个名字为git的文件夹）
2.cd git （进入文件夹）
3.pwd （显示当前目录）
4.git init （通过git init命令把这个目录变成Git可以管理的仓库）
5.git add readme.txt （用命令git add告诉Git，把readme.txt文件添加到仓库）
6.git commit -m "注释" （用命令git commit告诉Git，把文件提交到仓库）
7.git status （git status命令看看结果）
8. git diff readme.txt （查看当前文件与资源库中最新文件的区别）
9.git log （查看历史记录）
10.git reset  --hard HEAD^ （回退到上一个版本）
11.git reset  --hard HEAD^^ （回退到上上一个版本）也支持HEAD~100（往上回退100个版本）
12.cat  readme.txt （查看文件里面的内容）
13.git reset --hard 3628164 （一串数字为版本号，可以不用全写，从log里面获取）
14.git reflog （git reflog用来记录你的每一次命令）
15.git diff HEAD -- readme.txt （查看工作区和版本库里面最新版本的区别）
16.git checkout -- readme.txt （丢弃工作区的修改）
17.git reset HEAD readme.txt （可以把暂存区的修改撤销掉（unstage），重新放回工作区）
18.rm readme.txt （删除文件：一是确实要从版本库中删除该文件，那就用命令git rm删掉，并且git commit，另一种情况是删错了，因为版本库里还有呢，所以可以很轻松地把误删的文件恢复到最新版本 git checkout -- readme.txt）

学习进度：远程仓库